<div class="row mb-4">
  <div>
    <h5 class="mb-2">
      {{#if link}}<a href="{{link}}" target="_blank" rel="noopener">{{title}}</a>{{else}}{{title}}{{/if}}</h5>
    <h6 class="text-muted mb-6">{{#each authors}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</h6>
  </div>

  {{#if presentations.length}}
    <div>
      <ul>
        {{#each presentations}}
          <li>
            <span class="fw-bold">
              {{#if filePath}}
                <a href="{{filePath}}" target="_blank" rel="noopener">{{type}}</a>
              {{else}}
                {{type}}
              {{/if}}
            </span>

            {{#if link}}
               - <a href="{{link}}" target="_blank" rel="noopener">{{ordinal-sup event}}</a>
            {{else}}
               - {{ordinal-sup event}}
            {{/if}}

            {{#if location}} - {{location}}{{/if}}
            {{#if date}} - {{date}}{{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>