Hello
<div class="project row mb-5 align-items-start">
  <!-- Left: project image -->
  <div class="col-12 col-md-3 mb-3 mb-md-0">
    <img
      src="{{image.src}}"
      alt="{{image.alt}}"
      class="img-fluid img-thumbnail"
      style="cursor: pointer;"
      data-bs-toggle="modal"
      data-bs-target="#imageModal-{{id}}"
      data-bs-src="{{image.src}}"
    >
  </div>
  <!-- Right: content -->
  <div class="col-12 col-md-9">

    <!-- Title & Authors -->
    <h5 class="mb-2">
      {{#if link}}
        <a href="{{link}}" target="_blank" rel="noopener" class="text-decoration-none">{{title}}</a>
      {{else}}
         {{title}}
      {{/if}}
    </h5>
    <h6 class="text-muted mb-2">
      {{#each authors}}
        {{this}}{{#unless @last}}, {{/unless}}
      {{/each}}
    </h6>

    <!-- Keywords -->
    <div class="mb-2">
      {{#if keywords}}
        {{#each keywords}}
          <span class="badge bg-secondary {{#unless @last}}me-1{{/unless}}">{{this}}</span>
        {{/each}}
      {{/if}}
    </div>

    <!-- Link -->
    <p class="mb-2">

    </p>

    <!-- Summary -->
    <h6 class="mb-1">Summary</h6>
    <p class="mb-2">{{summary}}</p>

  </div>
</div>

<!-- 2. The Modal (place near the end of <body>) -->
<div
  class="modal fade"
  id="imageModal-{{id}}"
  tabindex="-1"
  aria-labelledby="imageModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content bg-transparent border-0">
      <div class="modal-body p-0 text-center">
        <img src="{{image.src}}" alt="{{image.alt}}" class="img-fluid" id="modalImage-{{id}}">
      </div>
      <button
        type="button"
        class="btn-close position-absolute top-0 end-0 m-3"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>