  <h2 class="page__title">Curriculum Vitae</h2>
  <h5 class="serif mb-4">My professional life, at a glance:</h5>

  {{!-- Education --}}
  <h4 class="cv-border-bottom">Education</h4>
  {{#each education}}
    <section>
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-start fw-bold">
        <div>{{institution}} – {{location}}</div>
        <div class="text-muted">{{period}}</div>
      </div>
      <ul class="mt-0 d-flex flex-column flex-md-row justify-content-between align-items-start">
        <li>{{degree}}</li>
        <div class="text-muted">GPA: {{gpa}}</div>
      </ul>
    </section>
  {{/each}}

  {{!-- Work Experience --}}
  <h4 class="cv-border-bottom">Work Experience</h4>
  {{#each workExperience}}
    <section>
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-start fw-bold">
        <div>{{employer}} – {{location}}</div>
        <div class="text-muted">{{period}}</div>
      </div>
      <div class="mt-0 d-flex flex-column flex-md-row justify-content-between align-items-start">
        <i>{{role}}</i>
        <div class="text-muted"></div>
      </div>
      <ul class="mt-0">
        {{#each responsibilities}}
          <li>{{{this}}}</li>
        {{/each}}
      </ul>
    </section>
  {{/each}}

  {{!-- Research Experience --}}
  <h4 class="cv-border-bottom">Research Experience</h4>
  {{#each researchExperience}}
    <section>
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-start fw-bold">
        <div>{{institution}}{{#if location}} – {{location}}{{/if}}</div>
        <div class="text-muted">{{period}}</div>
      </div>
      <div class="mt-0 d-flex flex-column flex-md-row justify-content-between align-items-start">
        <i>{{role}}</i>
        <div class="text-muted"></div>
      </div>

      {{!-- either projects or responsibilities --}}
      {{#if projects}}
        {{#each projects}}
          <ul class="mt-0 flex-md-row mt-2">
            <li class="fw-bold list-unstyled">{{{title}}}</li>
            <li class="list-unstyled fw-bold text-muted">{{period}}</li>
            {{#each description}}
              <li>{{{this}}}</li>
            {{/each}}
          </ul>
        {{/each}}
      {{else}}
        <ul class="mt-0">
          {{#each responsibilities}}
            <li>{{{this}}}</li>
          {{/each}}
        </ul>
      {{/if}}
    </section>
  {{/each}}

  {{!-- Mentorship --}}
  <h4 class="cv-border-bottom">Mentorship</h4>
  {{#each mentorship}}
    <section>
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-start fw-bold">
        <div>{{institution}} – {{location}}</div>
        <div class="text-muted">{{period}}</div>
      </div>
      <div class="mt-0 d-flex flex-column flex-md-row justify-content-between align-items-start">
        <i>{{role}}</i>
        <div class="text-muted"></div>
      </div>
      <ul class="mt-0">
        {{#each responsibilities}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </section>
  {{/each}}

  {{!-- Skills --}}
  <h4 class="cv-border-bottom">Skills</h4>
  <ul>
    {{#each skills}}
      <li>
        <strong>{{category}}:</strong>
        {{#each items}}
          {{this}}{{#unless @last}}, {{/unless}}
        {{/each}}
      </li>
    {{/each}}
  </ul>

  <h4 class="cv-border-bottom">Publications</h4>
  <section>
    {{#each publications}}
      {{> publication-item-cv}}
    {{/each}}
  </section>

  {{!--   
  <section class="mb-5">
    <li class="d-flex flex-column flex-md-row mb-3">
      <a href="">
        <div class="badge bg-warning me-3 mb-2 mw-100 text-dark">In Progress</div>
      </a>
      <div>
        Galindo RJ, <span class="fw-bold">Guo J</span>, Arevalo G, Sanaka KO, McCoy RG, Umpierrez GE, Garvey WT, Ali MK.
        Body composition, anthropometric measures and body mass index among people without diabetes, pre-diabetes and
        diabetes: a U.S. national analysis.
        <br />
        <span class="fw-bold">Keywords:</span> NHANES, survey data, body composition
      </div>
    </li>

    <li class="d-flex flex-column flex-md-row mb-3">
      <a href="">
        <div class="badge bg-warning me-3 mb-2 mw-100 text-dark">In Progress</div>
      </a>
      <div>
        <span class="fw-bold">Guo J</span>, Goldsmith D, Cotes RO, Varghese JS. Metabolic Monitoring among Patients with Type 2 Diabetes Prescribed Second Generation Antipsychotics.
        <br />
        <span class="fw-bold">Keywords:</span> mental health, T2D, EHR data
      </div>
    </li>

    <li class="d-flex flex-column flex-md-row mb-3">
      <a href="">
        <div class="badge bg-warning me-3 mb-2 mw-100 text-dark">In Progress</div>
      </a>
      <div>
        <span class="fw-bold">Guo J</span>, Li Z, Patel SA, Chang HH, Ali MK, Varghese JS. Pathophysiological Risk Factors of Type 2 Diabetes Subtypes: A Pooled Cohort Study in the United States
        <br />
        <span class="fw-bold">Keywords:</span> prediabetes, cohort data, T2D phenotypes, survival analysis
      </div>
    </li>
    
    <li class="d-flex flex-column flex-md-row mb-3">
      <a href="">
        <div class="badge bg-warning me-3 mb-2 mw-100 text-dark">In Progress</div>
      </a>
      <div>
        Sanaka K, <span class="fw-bold">Guo J</span>, Hua D, Li, Ali MK, Varghese JS. Rates of All-Cause and Cause-Specific Mortality for Subtypes of Type 2 Diabetes.
        <br />
        <span class="fw-bold">Keywords:</span> mortality, T2D phenotype, NHANES
      </div>
    </li>
    
    <li class="d-flex flex-column flex-md-row mb-3">
      <a href="">
        <div class="badge bg-warning me-3 mb-2 mw-100 text-dark">In Progress</div>
      </a>
      <div>
        Li Z, Salazar BC, <span class="fw-bold">Guo J</span>, Hua D, Sanaka K, Vellanki P, Ali MK, Hofmeister CC, Varghese JS. Rates of Site-Specific Cancers among Novel Subtypes of Type 2 Diabetes.
        <br />
        <span class="fw-bold">Keywords:</span> EHR data, cancer, T2D phenotype
      </div>
    </li>
  </section>

  <section class="mb-5">
    <li class="d-flex flex-column flex-md-row mb-3">
      <a href="https://www.medrxiv.org/content/10.1101/2024.10.01.24314707v1">
        <div class="badge bg-info me-3 mb-2 mw-100 text-dark">Under Review</div>
      </a>
      <div>
        <span class="fw-bold">Guo J</span>, Li Z, Carrillo-Larco RM, Hsia DS, Harding JL, Ali MK, Varghese JS.
        Subphenotypes of youth-onset type 2 diabetes mellitus and their association with distal symmetrical
        polyneuropathy. <span class="fw-bold fst-italic">The Journal of Diabetes and Its Complications.</span> <a
          href="https://doi.org/10.1101/2024.10.01.24314707">doi: https://doi.org/10.1101/2024.10.01.24314707</a>
        <br />
        <span class="fw-bold">Keywords:</span> data-driven cluster analysis, T2D phenotypes, cohort data
      </div>
    </li>
  </section>

  <section class="mb-5">
    <li class="d-flex flex-column flex-md-row mb-3">
      <a href="doi:10.1089/apc.2024.0193">
        <div class="badge bg-success me-3 mb-2 mw-100">Published</div>
      </a>
      <div><span class="fw-bold">Guo J</span>, Opara SCO, Hussen SA, Varghese JS. Prevalence, Monitoring, Treatment, and
        Control of Type 2 Diabetes by Race and Sexual Orientation Among Males with HIV. <span
          class="fw-bold fst-italic">AIDS Patient Care STDS.</span> 2024;38(12):539-542. <a
          href="doi:10.1089/apc.2024.0193">doi:10.1089/apc.2024.0193</a>
        <br />
        <span class="fw-bold">Keywords:</span> diabetes, HIV, EHR data, care cascade
      </div>
    </li>
  </section> 
  --}}